.product-picture
	img(title='#{name}', src='#{picture}')
ul.product-details
	li.name #{name}
	li.designer #{designer}
	li.prices
		span.price-rental Rs. #{price_rental}
		span.price-retails Rs. #{price_retail}
