.product-picture
	img.img-responsive(title='#{name}', src='#{picture}')
ul.product-details
	li.name #{name}
	li.designer #{designer}
	li.prices
		.price-rental
			| Rental: Rs. #{price_rental}
		.price-retail 
			| Retail: Rs. #{price_retail}